body{
    background-image:url("../images/snow.jpg");
    background-size: 100% 100%;    
}
.pic{
    margin-bottom: 80px;
}
.pic img{
    width: 100%;
}
.mem{
    color: #ffffff;
    text-align: center;
    font-style: initial;
    font-family: "標楷體";
}
.touch1{
    color: #000000;
    text-align: center;
}
.mon1{
    color: crimson
}
.en1{
    color:dimgrey
}
.w1{
    color:coral
}
.wo2{
    font-family: "標楷體";
    color: #fff736;
    font-size: 25px;
}
